.formInput input[name='terms'],
.formInput input[name='terms']:hover,
.formInput input[name='terms']:focus {
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    border: none;
    background: linear-gradient(to top, rgb(71, 79, 85), 20%, rgb(42, 73, 88));
    opacity: 1;
    cursor: default;
}

.formInput input[name='terms']::placeholder,
.formInput input[name='terms']:hover::placeholder,
.formInput input[name='terms']:focus::placeholder {
    color: white;
    opacity: 1;
}

.formInput input {
    top: 1vh;
    border: solid 1px rgb(73, 105, 124);
    background-color: rgb(255, 255, 255);
}

.formInput input:focus {
    color: black;
}

.formInput .Input::placeholder {
    color: rgb(160, 160, 160);
    opacity: 1;
}

.formInput input:valid {
    border: solid 2px rgb(0, 158, 226);
    color: black;
    background-color: white;
    opacity: 1;
}

.formInput .Input:invalid[focused='true'] {
    border: solid 2px red;
    color: rgb(180, 180, 180);
    background-color: white;
    opacity: 1;
}

.formInput label {
    display: none;
}

.toogle-icon {
    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 5.2vw;
    cursor: pointer;
    z-index: 2;
}

.eye {
    color: rgb(180, 180, 180);
}

.eye:hover {
    color: rgb(120, 120, 120);
}

.square {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.register-conf-password-toogle-icon,
.newPass-conf-password-toogle-icon,
.connexion-terms-toogle-icon  {
    margin-left: 34vw;
    margin-top: -10.5vw;
}

.connexion-password-toogle-icon,
.register-password-toogle-icon,
.newPass-password-toogle-icon {
    margin-left: 34vw;
    margin-top: -27.5vw;
}

/*.formInput input:invalid[focused='false'] ~ .formError {
    display: none;
}

.formInput .Input:invalid[focused='true'] ~ .formError {
    display: inline-block;
}

.formError {
    display: none;
    position: relative;
    text-align: left;
    font-size: 4vw;
    color: red;
    background-color: white;
    width: 80vw;
    top: 1vw;
    margin-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
}*/

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /******************************************* website ******************************************/
    /**********************************************************************************************/

    .toogle-icon {
        float: left;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 30px;
    }

    .register-conf-password-toogle-icon,
    .newPass-conf-password-toogle-icon,
    .connexion-terms-toogle-icon  {
        margin-left: 210px;
        margin-top: -51px;
    }

    .connexion-password-toogle-icon,
    .register-password-toogle-icon,
    .newPass-password-toogle-icon {
        margin-left: 210px;
        margin-top: -123px;
    }

    .formInput input[name='terms'],
    .formInput input[name='terms']:hover,
    .formInput input[name='terms']:focus {
        font-size: 22px;
    }
}