/**********************************************************************************************/
/******************************************** website *****************************************/
/**********************************************************************************************/
.website {
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 200px;
    background-color: rgb(34, 62, 78);
    color: rgb(231, 244, 253);
    top: 0;
    z-index: 2000;
}

.website_text {
    position: relative;
    text-align: center;
    top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.5px;
    color: white;
    background: linear-gradient(to top, rgba(81, 131, 172, 0.5), 20%, rgba(80, 155, 218, 0.1));
    z-index: 5;
}

.website_text_play {
    margin-top: 5px;
    font-size: 35px;
    color: rgb(0, 225, 255);
    cursor: pointer;
    transition: color .4s;
}

.website_text_play:hover {
    color: rgb(158, 244, 255);
    transition: color .4s;
}

.website_text_play:active {
    color: rgb(0, 225, 255);
}

.legal {
    position: absolute;
    bottom: 15px;
    line-height: 15px;
    font-family: 'Open', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .5px;
    color: white;
    cursor: pointer;
}

.legal:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.website_text_span2 {
    right: 20px;
}

.website_text_span3 {
    right: 65px;
}

.website_text_span2:active {
    text-decoration: none;
}

.vdo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    width: 100%;
    height: 185px;
    filter: grayscale(1) brightness(150%);
    overflow: hidden;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /******************************************* website ******************************************/
    /**********************************************************************************************/

    .website {
        padding-bottom: 15vw;
        padding-top: 0;
    }

    .website_text {
        top: 0;
        margin-top: 0;
        margin-bottom: 150px;
        padding-top: 100px;
        padding-bottom: 92px;
        line-height: 60px;
        font-size: 60px;
    }

    .website_text_play {
        margin-top: 20px;
        font-size: 50px;
    }

    .legal {
        bottom: 20px;
        font-size: 12px;
    }

    .website_text_span2 {
        right: 25px;
    }
    
    .website_text_span3 {
        right: 90px;
    }

    .vdo {
        height: 322px;
    }
}