/**********************************************************************************************/
/********************************************** app *******************************************/
/**********************************************************************************************/

header,
footer, 
section, 
article {
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

ul, li {
    list-style:none;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
}

input, textarea{
    border: 0;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
    border: 0;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.arrow-down {
    width: 10vw;
    height: auto;
    opacity: .6;
} 

/********************************************** Forms ********************************************/

.formMeanStyle input {
    position: relative;
    border-radius: 1vw;
    width: 80vw;
    height: 14vw;
    margin-bottom: 3vw;
    padding-left: 2vw;
    font-family: Open, sans-serif;
	font-size: 5vw;
    font-weight: 300;
    letter-spacing: .1vw;
}

.login-submit,
.register-submit,
.sendMail-submit,
.newPass-submit {
    top: 1vh;
}

.login-submit,
.register-submit,
.sendMail-submit,
.contact-submit,
.newPass-submit {
    position: relative;
    width: 80vw;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 3vw;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: .1vw;
    border-radius: 1.2vw;
}

.formSubmit {
	border: 0;
    font-family: Open, sans-serif;
	background-color: rgb(255, 145, 0);
    box-shadow: rgba(255, 58, 58, 0.5) 0px 30px 60px -12px inset, 
    rgba(255, 72, 0, 0.719) 0px 18px 36px -18px inset;
	color: white;
	cursor: pointer;
	transition: background-color .2s;
}

.formSubmit:hover {
	transition: background-color .2s;
	background-color: rgb(255, 177, 31);
}

.formSubmit:active {
	background-color: rgb(255, 208, 0);
}

.forgotPassword,
.backToWebSiteModal {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1Vh;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 3vw;
    width: 80vw;
	border: 0;
	border-radius: 1.2vw;
    font-family: Open, sans-serif;
 	font-size: 4vw;
    font-weight: 500;
    color: rgb(34, 52, 66);
    background-color: rgb(174, 195, 212);
    transition: background-color .3s, color .3s;
    cursor: pointer;
}

.forgotPassword:hover,
.backToWebSiteModal:hover {
    color: white;
    background-color: rgb(31, 48, 58);
    transition: background-color .3s, color .3s;
}

.forgotPassword:active,
.backToWebSiteModal:active {
    color: rgb(25, 43, 56);
    background-color: rgb(174, 195, 212);
}

.loginModal,
.registerModal {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1vh;
}

.formModal {
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 3vw;
    width: 80vw;
	border: 0;
	border-radius: 1.2vw;
    font-family: Open, sans-serif;
 	font-size: 6vw;
    font-weight: 500;
    letter-spacing: .1vw;
    color: white;
    background-color: rgb(2, 143, 235);
    box-shadow: rgba(78, 58, 255, 0.301) 0px 30px 60px -12px inset, 
    rgba(0, 17, 255, 0.719) 0px 18px 36px -18px inset;
    transition: background-color .2s;
    cursor: pointer;
}

.formModal:hover {
    background-color: rgb(49, 170, 250);
    transition: .2s;
}

.formModal:active {
	background-color: rgb(141, 198, 236);
}

.contact-submit {
	position: relative;
	height: auto;
    padding: 5vw;
}

.form__next,
.form__previous {
    text-align: center;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/
@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /********************************************** app *******************************************/
    /**********************************************************************************************/

    .arrow-down {
        width: 40px;
    }

    .container-forgot {
        width: auto;
        padding-bottom: 20vw;
    }
    
    .form__next,
    .form__previous,
    .formModal,
    .forgotPassword,
    .backToWebSiteModal,
    .login-submit,
    .register-submit,
    .sendMail-submit,
    .contact-submit,
    .newPass-submit {
        margin-bottom: 12px;
        width: 500px;
        padding: 20px;
        border-radius: 6px;
        font-size: 25px;
        letter-spacing: .5px;
    }

    .forgotPassword,
    .backToWebSiteModal {
        font-size: 16px;
    }

    .form {
        top: 55%;
    }
    
    .formMeanStyle input {
        height: 60px;
        border-radius: 6px;
        width: 500px;
        margin-bottom: 12px;
        padding-left: 20px;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1px;
    }
}