/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /******************************************* letsTalk *****************************************/
    /**********************************************************************************************/

    .letsTalk__picture {
        left: 0;
        width: 120vw;
    }

    .letsTalk__discount {
        margin-top: 1100px;
    }
    
    .letsTalk__labels {
        top: 1300px;
    }
}