/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************** about *****************************************/
    /**********************************************************************************************/

    .pic2 {
        bottom: 445px;
    }

    .about__article__collapse {
        height: 2132px;
    }

    .about__article__ref {
        height: 1977px;
    }
}