/**********************************************************************************************/
/******************************************* uploader *****************************************/
/**********************************************************************************************/

.container-download {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2000;
}

.container-downlaod__download {
    position: relative;
    font-size: 8vw;
    transition: color .2s;
    cursor: pointer;
}

.container-downlaod__download:active {
    color: rgb(94, 245, 175);
    transition: color .2s;
}

.container-downlaod__text {
    position: relative;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 4.6vw;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 480px ****************************************/

@media screen and (min-width: 481px) {

    /**********************************************************************************************/
    /******************************************* uploader *****************************************/
    /**********************************************************************************************/
    
    .container-downlaod__download {
        font-size: 40px;
    }
    
    .container-downlaod__text {
        margin-left: 12vw;
        margin-right: 12vw;
        font-size: 18px;
    } 

}
