/**********************************************************************************************/
/******************************************** contact *****************************************/
/**********************************************************************************************/

.contact__icon-phone1 {
    margin-bottom: -6.4vw;
    font-size: 9.5vw;
    color: rgb(112, 190, 247);
}

.contact__picture {
    position: relative;
    left: -75vw;
    width: 350vw;
    height: auto;
    margin-bottom: -2vw;
    filter: brightness(110%);
    z-index: 1;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

    .contact__icon-phone1 {
        margin-bottom: -20px;
        font-size: 39px;
    }

    .contact__picture {
        left: -38vw;
        width: 250vw;
    }
}