/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/

    .navbar__logout__btn {
		top: 47px;
		left: 72%;
		float: none;
		right: auto;
		font-size: 28px;
	}
}