/**********************************************************************************************/
/******************************************** loading *****************************************/
/**********************************************************************************************/

.loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 480px ****************************************/

@media screen and (min-width: 481px) {

    /**********************************************************************************************/
    /******************************************** loading *****************************************/
    /**********************************************************************************************/

    .loading {
        top: 50px;
    }
}