/**********************************************************************************************/
/******************************************** loading *****************************************/
/**********************************************************************************************/

.loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 65px;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /******************************************** loading *****************************************/
    /**********************************************************************************************/

    .loading {
        top: 140px;
    }
}