/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /**************************************** business-form ***************************************/
    /**********************************************************************************************/

    .business-form {
        top: 1020px;
    }

    .option + label {
        font-weight: 600;
    }

    .project-submit {
        top: 680px;
    }
}