/**********************************************************************************************/
/**************************************** business-form ***************************************/
/**********************************************************************************************/

.business-form {
	position: absolute;
    display: flex;
	top: 65%;
	width: 100%;
	visibility: visible;
}

.business-form__container {
    position: relative;
	left: 50%;
	transform: translate(-50%, 0);
    top: 62vw;
	display: flex;
	flex-direction: row;
	width: 84.5vw;
	height: auto;
	margin-left: -.8vw;
}

.business-form__container__work, 
.business-form__container__budget, 
.business-form__container__dead-line {
    position: relative;
	display: flex;
	flex-direction: column;
	width: 84.5vw;
	margin-left: -.8vw;
	height: auto;
}

label span {
	font-size: 7.5vw;
}

.work-option--padding1 {
	padding-top: 5.5vw;
}

.work-option--padding2 {
	padding-top: 2.7vw;
}

.option + label {
	position: relative;
	text-align: center;
  	width: 25vw;
	min-height: 16vw;
	height: auto;
  	border-radius: 1.2vw;
 	color: rgb(1, 69, 99);
    font-family: Open, sans-serif;
 	font-size: 4.5vw;
    font-weight: 600;
    letter-spacing: .1vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
 	cursor: pointer;
    background-color: rgba(160, 160, 160, 0.3);
 	transition: background-color .5s;
}

.option:hover + label {
    background-color: rgba(2, 143, 235, 0.6);
    color: white;
    transition: background-color .5s;
}
.option:checked + label {
    background-color: rgba(2, 143, 235, 0.6);
    color: white;
}

.project-submit {
	left: 50%;
	transform: translate(-50%, 0);
    top: 190%;
	width: auto;
}

.contenair-project-other {
	position: absolute;
	top: 292vw;
	left: 50%;
	transform: translate(-50%, 0);
	width: 80vw;
	height: auto;
	border-radius: 2.5vw;
	background-color: rgba(0, 31, 44, 0.8);
	overflow: hidden;
	visibility: hidden;
}

.contenair-project-other--inactive {
	visibility: hidden;
	z-index: -1;
}

.contenair-project-other--active {
	visibility: visible;
	z-index: 1;
}

.contenair-project-other__title {
	position: relative;
	text-align: center;
	top: 0;
	margin-top: 0;
	width: 100%;
	padding: 5vw;
	font-size: 4.8vw;
	font-weight: 500;
	letter-spacing: .2vw;
	color: white;
	background-color: rgb(4, 94, 155);
}

.other-closed {
    position: absolute;
    top: 2vw;
    margin-left: 61vw;
    font-size: 4vw;
    color: white;
    transition: .2s;
    cursor: pointer;
    z-index: 500;
}

.other-closed:hover {
    font-size: 5.5vw;
    color: rgb(255, 0, 0);
    transition: .2s;
}

.other-closed:active {
    color: white;
}

.contenair-project-other__input {
	position: relative;
	resize: none;
	left: 50%;
	transform: translate(-50%, 0);
	padding-left: 3vw;
	padding-right: 3vw;
	margin-bottom: 5vw;
	width: 70vw;
	height: 70vw;
	font-family: Open, sans-serif;
	font-size: 4vw;
	color: white;
	background-color: transparent;
}

.contenair-project-other__button {
	position: relative;
	text-align: center;
	border: 0;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	height: 15vw;
	background-color: rgb(4, 94, 155);
}

.other-button {
	cursor: pointer;
	font-size: 8vw;
    color: white;
	transition: font-size .1s;
}

.other-button:hover {
	font-size: 9.5vw;
	transition: font-size .1s;
}

.other-button:active{
	color: rgb(114, 156, 184);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /**************************************** business-form ***************************************/
    /**********************************************************************************************/
	.business-form {
		top: 1120px;
		width: 100%;
		visibility: visible;
	}
	
	.business-form__container {
		top: 350px;
		width: 478px;
		margin-left: -4px;
	}
	
	.business-form__container__work, 
	.business-form__container__budget, 
	.business-form__container__dead-line {
		width: 550px;
		margin-left: -4px;
	}
	
	label span {
		font-size: 40px;
	}
	
	.work-option--padding1 {
		padding-top: 16px;
	}
	
	.work-option--padding2 {
		padding-top: 3px;
	}
	
	.option + label {
		width: 150px;
		min-height: 60px;
		border-radius: 6px;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: .5px;
		margin-left: 8px;
		margin-bottom: 8px;
	}
	
	.project-submit {
		top: 700px;
	}
	
	.contenair-project-other {
		position: absolute;
		top: 292vw;
		left: 50%;
		transform: translate(-50%, 0);
		width: 80vw;
		height: auto;
		border-radius: 2.5vw;
		background-color: rgba(0, 31, 44, 0.8);
		overflow: hidden;
		visibility: hidden;
	}
	
	.contenair-project-other--inactive {
		visibility: hidden;
		z-index: -1;
	}
	
	.contenair-project-other--active {
		visibility: visible;
		z-index: 1;
	}
	
	.contenair-project-other__title {
		position: relative;
		text-align: center;
		top: 0;
		margin-top: 0;
		width: 100%;
		padding: 5vw;
		font-size: 4.8vw;
		font-weight: 500;
		letter-spacing: .2vw;
		color: white;
		background-color: rgb(4, 94, 155);
	}
	
	.other-closed {
		position: absolute;
		top: 2vw;
		margin-left: 61vw;
		font-size: 4vw;
		color: white;
		transition: .2s;
		cursor: pointer;
		z-index: 500;
	}
	
	.other-closed:hover {
		font-size: 5.5vw;
		color: rgb(255, 0, 0);
		transition: .2s;
	}
	
	.other-closed:active {
		color: white;
	}
	
	.contenair-project-other__input {
		position: relative;
		resize: none;
		left: 50%;
		transform: translate(-50%, 0);
		padding-left: 3vw;
		padding-right: 3vw;
		margin-bottom: 5vw;
		width: 70vw;
		height: 70vw;
		font-family: Open, sans-serif;
		font-size: 4vw;
		color: white;
		background-color: transparent;
	}
	
	.contenair-project-other__button {
		position: relative;
		text-align: center;
		border: 0;
		bottom: 0;
		margin-bottom: 0;
		width: 100%;
		height: 15vw;
		background-color: rgb(4, 94, 155);
	}
	
	.other-button {
		cursor: pointer;
		font-size: 8vw;
		color: white;
		transition: font-size .1s;
	}
	
	.other-button:hover {
		font-size: 9.5vw;
		transition: font-size .1s;
	}
	
	.other-button:active{
		color: rgb(114, 156, 184);
	}
}