/**********************************************************************************************/
/****************************************** background ****************************************/
/**********************************************************************************************/

.background {
	position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.keyboard {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 200vw;
    height: auto;
    filter: brightness(120%);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 649px ****************************************/

@media screen and (min-width: 650px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .keyboard {
        width: 130vw;
    }
}